 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/navigation.css">
{% block styles %}
{% endblock %}
{% block title %}
<title>Waifudoo</title>
{% endblock %}
<style>
.bg {
  background-image: url("/static/img/{{get_random_waifu_bg()}}")
}
</style>
</head>
<div class="bg">
</div>
<body>
  <nav class="menu">
          <h1 class="name">
              Waifudoo: an exploration of democracy as applied to the concept of anime
          </a>
      </h1>
      <ul class="inline-list right">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/add_waifu">Add your waifu</a>
          </li>
          {% if current_user.is_anonymous() %}
          <li>
              <a href="/login">Login</a>
          </li>
          {% else %}
          <li class="has_dropdown">
              <a href="#"> Welcome, {{current_user.name}}</a>
          </li>
          <li>
              <a href="/logout">Logout</a>
          </li>
          {% endif %}
      </ul>
      <ul class="inline-list hide-for-small-only account-action">
      </ul>
      <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal">
          <i class="fi-unlock"></i>
      </a>
  </nav>


{% block body %}
{% endblock %}
{% block scripts %}
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
{% endblock %}
</body>

</html>
